body {
  background-color: silver;
}

.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 75vw;
  margin: 0 auto;
}

.order-ticket {
  /* display: flex; */
  cursor: pointer;
  position: relative;
  background-color: white;
  background-image: linear-gradient(to bottom, white, white, hsl(0,0%,95%));
  width: 20vw;
  margin: 2rem;
  padding: 2rem;
  box-sizing: border-box;
  border-radius: 20px 0 20px 0;
  box-shadow: 2px 2px 5px hsla(0,0%,0%,0.1);
}

.order-ticket.paid{
  outline: 2px solid lime;
}

.order-ticket ul {
  list-style-type: none;
  padding-left: 0;
}